<div class="row" style="margin-top:10px;white;padding:10px;border-radius:10px;">
  <% if @tweets.empty?%>
  <h4 style="text-align:center;margin-top:30px;">まだ投稿はありません</h4>
  <% else%>
  <%= render partial: "tweet", collection: @tweets %>
  <% end %>
</div>