<div class="row" style="margin-top:10px;white;padding:10px;border-radius:10px;">
  <p><strong style="font-size:30px;"><%= @nickname %></strong>さんの投稿一覧</p>
  <% if @tweets.empty? %>
  <h4 style="margin-top:10px;font-size:30px;text-align:center;">なにか投稿してみよう！</h4>
  <% else %>
  <%= render partial: "tweets/tweet", collection: @tweets %>
  <%= paginate(@tweets) %>
  <% end %>
</div>